.Enchere, .userViewAdmin {
    border: black solid 1px;
    border-radius: 5px;
    width: 27vw;
}

/*.listeObjets{*/
/*    border-radius: 7px;*/
/*    border: 1px dotted antiquewhite;*/
/*    background-color: white;*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    flex-wrap: wrap;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    margin-bottom: 5px;*/
/*}*/

.userViewAdmin, .Enchere {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1em;
    margin-left: 1em;
    margin-right: 1em;
    margin: 5px;
    padding-bottom: 1em;
    background-color: white;
}

.Enchere {
    align-items: flex-start;
    padding: 1em;
}

.userViewAdmin.desactive, .Enchere.desactive {
    background-color: #b6fcb6; /* vert pâle */
}

.userViewAdmin.actif, .Enchere.actif {
    background-color: #fcb6b6; /* rouge pâle */
}

.fenetreAdmin, .fenetreEnchere {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 20vw;
    margin-left: 20vw;
}

.fenetreEnchereSuper{
    width: 100vw;
    display: flex;
    justify-self: center;
}

.listeObjets{
}

.blocCategories {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 20px;

}

.filtres {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.categories {
    display: flex;
    flex-direction: row;
    width: 100vw;
    margin-bottom: 50px;
    margin-top: 100px;
    justify-content: center;
}

.btnCategories{
    display: flex;
   margin-left: 50px;
    height: 50px;
}

.btnCategories input {
    width: 150px;
}