<!DOCTYPE html>
<html data-th-replace="~{layout :: frag_layout(title=#{frag-entete.a.accueil},
                                                content= ~{::main})} ">
<main>
    <section>
        <h1 data-th-text="#{index.h1}"></h1>
    </section>
    <div>

    <label>Filtres :</label>
    <input type="text">
    <label>Catégorie :</label>
        <select>
            <option>Choisir une option</option>
            <option>Informatique</option>
            <option>Ameublement</option>
            <option>Vêtement</option>
            <option>Sport&Loisirs</option>
        </select>
        <input type="button" value="Rechercher">
    </div>
    <div data-th-each="enchere : ${Encheres}">
        <div>
            <h4 data-th-text="${enchere.getNomArticle()}"></h4>
            <h4 data-th-text="${enchere.description}"></h4>
            <h4 data-th-text="${enchere.dateFinEncheres}"></h4>
        </div>
    </div>
</main>
</html>