<html lang="fr" data-th-fragment="frag_layout(title, content)">
<head>
    <meta charset="UTF-8">
    <title data-th-text="${title}"></title>
    <link rel="stylesheet" href="/css/general.css">
</head>
<body>
<header>
    <div>
        <a href="/?language=fr"><img alt="Français"
                                     src="/images/French.webp"></a> <a href="/?language=en"><img
            alt="English" src="/images/English.webp"></a>
    </div>
    <nav>
        <a href="/liste">Liste</a>
    <a href="/login">S'inscrire - Se connecter</a>
    <a href="/profil">Profil</a>

    </nav>
</header>
<h2 data-th-text="${title}"></h2>
<main data-th-replace="${content}"></main>
<footer>
    <p>&copy; ENI Corporation</p>
</footer>
</body>
</html>