<!DOCTYPE html>
<html data-th-replace="~{layout :: frag_layout(title=#{frag-entete.a.login},
                                                content= ~{::main},
                                                ressourcesSupp=~{:: #ressources-css})}">
<head>
    <th:block id="ressources-css">
        <link rel="stylesheet" href="/css/login.css"/>

    </th:block>
</head>

<main>
    <form data-th-action="@{/modif_vente}" method="post" data-th-object="${articleVendu}">
        <h1>Modifier ma vente</h1>
        <div class="formModifVente">
            <div class="listeModifVente">
                <ul>
                    <li>
                        <div class="DivLab">
                            <label for="idNomArt">Article : </label>
                            <input data-th-field="${articleVendu.nomArticle}" id="idNomArt" name="nomArticle"
                                   type="text" pattern="[A-Za-zÀ-ÿ0-9\s.,'’\-\/]+" required>
                        </div>
                    </li>
                    <li>
                        <div class="DivLab">
                            <label for="idDesc">Description : </label>
                            <input data-th-field="${articleVendu.description}" id="idDesc" name="description"
                                   type="text" pattern="[A-Za-zÀ-ÿ0-9\s.,'’\-\/]+" required>
                        </div>
                    </li>

                    <li>
                        <div class="DivLab">
                            <label for="idCateg">Catégorie : </label>
                            <select id="idCateg" name="categorie">
                                <option>Choisir catégorie</option>
                                <option data-th-each="categorie : ${categories}"
                                        data-th-text="${categorie.noCategorie} +' : ' +  ${categorie.libelle}"
                                        data-th-value="${categorie.noCategorie}">
                            </select>
                        </div>
                    </li>

                    <li>
                        <div class="DivLab">
                            <label for="idPrix">Mise à prix : </label>
                            <input data-th-field="${articleVendu.prixInitial}" id="idPrix" name="prixInitial"
                                   type="text" pattern="^[a-zA-Z0-9]+$" required>
                        </div>
                    </li>
                    <li>
                        <div class="DivLab">
                            <label for="idDateDebut">Début de l'enchère : </label>
                            <input data-th-field="${articleVendu.dateDebutEncheres}" id="idDateDebut"
                                   name="dateDebutEncheres" type="date">
                        </div>
                    </li>
                    <li>
                        <div class="DivLab">
                            <label for="idDateFin">Fin de l'enchère : </label>
                            <input data-th-field="${articleVendu.dateFinEncheres}" id="idDateFin" name="dateFinEncheres"
                                   type="date">
                        </div>
                    </li>
                    <li style="display:none">
                        <input data-th-field="${articleVendu.noArticle}" id="idNoArt" name="noArticle" type="text">
                    </li>
                </ul>
            </div>
        </div>
        <div class="boutonsModifVente">
            <div>
                <button type="submit">Enregister</button>
            </div>
        </div>
    </form>

</main>
</html>
