<!DOCTYPE html>
<html data-th-replace="~{layout :: frag_layout(title=#{frag-entete.a.login},
                                                content= ~{::main})} ">
<main>
    <link rel="stylesheet" href="/css/nouvelleVente.css">
    <h1>Nouvelle Vente</h1>
  <form data-th-action="@{/nouvelle-vente}" method="post"
        data-th-object="${articleVendu}">
<ul>
  <li>
<div class="DivLab">

    <label for="idNomArt">Article : </label>
    <input type="text" name="nomArticle" id="idNomArt">
</div>
  </li>
<li>
<div class="DivLab">

    <label for="idDesc">Description : </label>
    <input type="text" name="description" id="idDesc">
</div>
</li>
<li>
  <div class="DivLab">

    <label for="idCateg">Catégorie : </label>
    <select id="idCateg" name="categorie">
      <option data-th-each="categorie : ${categories}" data-th-text="${categorie.noCategorie} +' : ' +  ${categorie.libelle}" data-th-value="${categorie.noCategorie}">
    </select>
  </div>
</li>
<li>
<div class="DivLab">

    <label for="idPrix">Mise à prix : </label>
    <input type="number" id="idPrix" name="prixInitial">
</div>
</li>
<li>
<div class="DivLab">

    <label for="idDateDebut">Début de l'enchère : </label>
    <input type="date" id="idDateDebut" name="dateDebutEncheres">
</div>
</li>

<li>
<div class="DivLab">

    <label for="idDateFin">Fin de l'enchère : </label>
    <input type="date" id="idDateFin" name="dateFinEncheres">
</div>
</li>
<li>
<div>

    <fieldset>
      <legend>Retrait</legend>
      <ul>
        <li>

      <label for="idRue">Rue : </label>
      <input data-th-field="${utilisateur.rue}" type="text" id="idRue">
        </li>
        <li>

      <label for="idCP">Code Postal : </label>
      <input data-th-field="${utilisateur.codePostal}" type="text" id="idCP">
        </li>
        <li>

      <label for="idVille">Ville : </label>
      <input data-th-field="${utilisateur.ville}" type="text" id="idVille">
        </li>
      </ul>
    </fieldset>
</div>

</li>
</ul>
<div>

    <input id="idBtnAcc" type="submit">
    <input id="idBtnRes" type="reset">
</div>
  </form>
</main>
</html>