<!DOCTYPE html>
<html data-th-replace="~{layout :: frag_layout(title=#{frag-entete.a.login},
                                                content= ~{::main})} ">

<main>
    <ul>
        <li>
            <div data-th-text="'Prénom : ' + ${Utilisateur.prenom}"></div>
        </li>
        <li>
            <div data-th-text="'Prénom : ' + ${Utilisateur.prenom}"></div>
        </li>
        <li>
            <div data-th-text="'Prénom : ' + ${Utilisateur.prenom}"></div>
        </li>
    </ul>

</main>
</html>