<!DOCTYPE html>
<html data-th-replace="~{layout :: frag_layout(title=#{frag-entete.a.login},
                                                content= ~{::main})} ">

<main>
<div>
    <h4>DETAILS VENTE</h4>

    <div th:text="${ArticleVente.nomArticle}"></div>
    <div th:text="'Description : ' +${ArticleVente.description}"></div>
    <div th:text="'Catégorie : ' + ${ArticleVente.categorie.getLibelle}"></div>
    <div th:text="'Meilleure offre : '+${ArticleVente.prixVente}"></div>
    <div th:text="'Mise à prix : ' +${ArticleVente.prixInitial}"></div>
    <div th:text="'Fin de lenchère : '+${ArticleVente.dateDebutEncheres}"></div>
    <div th:text="'Retrait : '+${ArticleVente.lieuRetrait}"></div>
    <a data-th-href="@{/profil(idParam=${ArticleVente.utilisateur.pseudo})}" data-th-text="${ArticleVente.utilisateur.pseudo}"></a>
    <form data-th-action="@{/nouvelle_enchere}" method="post"
          data-th-object="${Enchere}">
        <li data-th-if="${#authentication.name != ArticleVente.utilisateur.pseudo}">
            <input type="text" name="articleVendu.noArticle" style="display:none" data-th-value="${ArticleVente.noArticle}">
            <input type="number" name="montantEnchere">
            <input type="submit">
        </li>
    </form>
    <form xmlns:th="http://www.thymeleaf.org"
            method="post"
            data-th-action="@{/modif_vente}"
            data-th-object="${ArticleVente}">
        <li data-th-if="${#authentication.name == ArticleVente.utilisateur.pseudo}">
            <button type="submit" name="modifVente">Modifier la vente</button>
        </li>
    </form>

</div>

</main>
</html>