<!doctype html>
<html data-th-replace="~{layout :: frag_layout(title=#{frag-entete.a.admin},
                                                content= ~{::main})} ">
<main>
    <link rel="stylesheet" href="/css/liste.css">
    <section>
        <h3>Ajout Catégorie</h3>
        <div style="display: flex; flex-direction: row; margin-bottom: 15px;">

            <select name="categorie">
                <option name="categorie" data-th-each="categorie : ${categories}" data-th-text="${categorie.libelle}"
                        data-th-value="${categorie.noCategorie}"></option>
            </select>
            <form style="margin-left: 10px" data-th-action="@{/ajoutCategorie}" method="post">
                <input type="text" name="libelle">
                <button>Ajout d'une catégorie</button>
            </form>
        </div>

    </section>

    <section>
        <h1 class="titreForm">Liste des utilisateurs</h1>
    </section>
    <span class="fenetreAdmin">
    <section class="userViewAdmin" th:each="utilisateur : ${utilisateurs}"
             th:classappend="${utilisateur.isDesactive()} ? 'desactive' : 'actif'">
<!--        <fieldset class="listeObjets">-->
            <h2 th:text="${utilisateur.getPseudo()}"></h2>
                <div th:text="'Nom : ' + ${utilisateur.getNom()}"></div>
                <div th:text="'Prénom : ' + ${utilisateur.getPrenom()}"></div>
                <div th:text="'Email : ' + ${utilisateur.getEmail()}"></div>
                <div th:text="'Téléphone : '+${utilisateur.getTelephone()}"></div>
                <div th:text="'Rue : ' +${utilisateur.getRue()}"></div>
                <div th:text="'Code Postal : ' +${utilisateur.getCodePostal()}"></div>
                <div th:text="'Ville : ' +${utilisateur.getVille()}"></div>
                <div th:text="'Crédit : ' +${utilisateur.getCredit()}"></div>
                <a th:href="@{/profil(idParam=${utilisateur.getPseudo()})}">Profil utilisateur</a>
        <!--        </fieldset>-->
    </section>
    </span>
    <script type="text/javascript" src="/js/liste.js"></script>
</main>
</html>